################################################
#     CONFIGURATION OF GCALDAEMON'S LOGGER     #
################################################

# List of the log appenders 
# You can remove the 'console' appender in daemon mode
log4j.rootLogger=INFO, file, console

# File appender
log4j.appender.file.Directory=autodetect
log4j.appender.file=org.gldapdaemon.logger.FileChannelAppender
log4j.appender.file.LogFileName=gldap-daemon
log4j.appender.file.ArchivedMask=yyyy-MM-dd-z-HH-mm-ss
log4j.appender.file.Encoding=UTF-8
log4j.appender.file.MaxFiles=30
log4j.appender.file.LogTimeout=7 day
log4j.appender.file.MaxSize=100 MByte
log4j.appender.file.layout=org.apache.log4j.PatternLayout
log4j.appender.file.layout.ConversionPattern=%d{yyyy-MM-dd HH:mm:ss} | %-5p | %-14c{1} | %m%n

# Console appender
log4j.appender.console=org.apache.log4j.ConsoleAppender
log4j.appender.console.layout=org.apache.log4j.PatternLayout
log4j.appender.console.layout.ConversionPattern=%-5p | %m%n

# Disable a lot of needless HTTP transport messages
log4j.category.org.apache.commons.httpclient=ERROR

# Valid log levels: DEBUG, INFO, WARN, ERROR or FATAL
log4j.category.org.gldapdaemon=INFO